* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, hsl(240, 73%, 65%) 30%, hsl(273, 75%, 66%) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
}

.row {
    width: 700px;
    margin: 9% auto;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

#svg-section {
    position: relative;
    overflow: hidden;
}

.box-svg {
    position: absolute;
    top: 160px;
    left: -60px;
    z-index: 2;
}

.woman-svg {
    position: relative;
    left: -60px;
    top: 70px;
    z-index: 1;
}

.pattern-svg {
    position: absolute;
    top: -210px;
    left: -430px;
}

#faq-section p {
    margin-bottom: 0.5rem;
    font-size: 13px;
}

#faq-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq {
    position: relative;
}

.faq * {
    display: inline-block;
}

.faq img {
    position: absolute;
    top: 10px;
    right: 90px;
    cursor: pointer;
}

.question-p {
    cursor: pointer;
    font-weight: 400;
    color: hsl(237, 12%, 33%)
}

hr {
    width: 80%;
    margin-top: 0.5rem;
    background-color: hsl(240, 5%, 91%);
    border-width: 0.4px;
}

h1 {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.answer {
    width: 80%;
    color: hsl(240, 6%, 50%);
    display: none;
}

.question-p:hover {
    color: hsl(14, 88%, 65%);
}

.rotate {
    transform: rotate(180deg);
}

.clicked-question {
    color: hsl(238, 29%, 16%);
    font-weight: bolder;
}

@media (width: 1440px) {
    .pattern-svg {
        left: -440px;
        top: -210px;
    }
}

@media (max-width: 991px) {
    .box-svg {
        display: none;
    }

    .row {
        width: 400px;
        margin-top: 150px;
    }

    h1 {
        text-align: center;
        padding-top: 0;
        font-size: 2rem;
    }

    hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .faq {
        margin: 0 auto;
        width: 90%;
    }

    .faq img {
        right: 9px;
    }

    .answer {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }

    .pattern-svg {
        width: 280px;
        top: -1px;
        left: 55px;
    }

    .woman-svg {
        top: -120px;
        left: 55px;
        width: 260px;
    }

    #svg-section {
        overflow: visible;
    }

    #faq-section {
        padding-top: 0;
    }

}

@media (max-width: 500px) {
    body {
        padding: 0 9px;
    }
    .row {
        width: 300px;
        margin-top: 110px;
    }

    .woman-svg {
        width: 190px;
        top: -90px;
        left: 45px;
    }

    .pattern-svg {
        width: 200px;
    }

    #faq-section p {
        font-size: 12px;
    }
}

